// @import "./styles/example.scss";
@font-face {
    font-family: "Brush Font";
    src: url("../assests/UkiyoMindDEMO-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

// #main {
//     color: $color
// }

body {
    // margin: 0;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.ink-bar {
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: grey;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    z-index: 1;
  }
  
  .ink-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    z-index: 2;
  }
  
  .ink-full {
    background-image: repeating-linear-gradient(to left, #0546e0, #1172f9, #4892f9);
    box-shadow: 0 5px 5px -6px #0546e0;
    border-radius: 20px;
    color: white;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
    position: relative;
    z-index: 1;
  }

h1 {
    color: whitesmoke;
    font-family: "Brush Font";
    font-size: 5000;

}
#l {
    font-style: italic;
}

// div {
//     position:relative; 
//     top: 30px;
//     bottom: 2px;
//     left: 134px;
//     right: 134px;
// }